html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#MiO-UI {
    width: 100%;
    height: 100%;
    overflow: auto;

    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20PX;
    }
}

.table-preview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 36PX;
    width: 36PX;
}

.modal-preview {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 300PX;
    width: 300PX;
}

.table-no-data {
    margin: 16PX 0;
}

.table-custom-cell {
    margin-top: 20PX;
}



